@import url('bootstrap');


main {
  height: 100vh;
}

footer {
  min-height: 150px;
  background-color: black;
}

.card {
  height: 400px;
  overflow: hidden;


  img {
    max-width: 100%;

    object-fit: cover;
  }
}