@import url('bootstrap');


main {
  margin-top: 2rem;
  height: 100vh;
}

footer {
  min-height: 150px;
  background-color: black;
}

.card {
  height: 400px;
  overflow: hidden;
  border: 1px solid lightgray;


  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;



  img {
    max-width: 100%;


    object-fit: cover;
  }


}

.no_border_bottom {
  border-bottom: 0;
}



.card-body {
  border: 1px solid lightgray;
  border-top: 0;

  margin-bottom: 1rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.h-150 {
  min-height: 150px;


}

.prodoct_image {
  img {
    max-width: 100%;
    max-height: 100%;
    width: 250px;
    object-fit: contain;
  }
}